{% extends 'layout/dashboard/index2.html' %} {% block content %}
<div class="content-wrapper">
<section class="content-header">
    <div class="header text-center">
      <h3 class="title">Data Peserta Olimpiade Matematika</h3>
    </div>
    <h1>
      Data Peserta
        <a class="btn btn-info pull-right" data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus-square">  Tambah Data</i></a>
    </h1>
    
 </section>
        <section class="content">
            <div class="box">
            <div class="box-body">
            <div class="box-header">
            <div class="">
                   
                <table id="example1" class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Nama</th>
                            <th>Tanggal_lahir</th>
                            <th>Jenis Kelamin</th>
                            <th>Kelas</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for a in siswa %}
                            <tr>
                                <td>{{a.siswa.user}}</td>
                                <td>{{a.siswa.nama}}</td>
                                <td>{{a.siswa.tanggal_lahir}}</td>
                                <td>{{a.siswa.jenis_kelamin}}</td>
                                <td>{{a.siswa.kelass.jenjang}}</td>

                                
                                <td >
                                    <a href="{% url 'data_siswa:detailmat' a.siswa_id %}" class="btn btn-info">
                                            <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{% url 'data_siswa:hapus_data_siswamat' id=a.siswa.user_id%}" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                </table>
                </div>
                </div>
                </div>
        </section>
                </div>


<!-- #######################################Tambah#################################################################### -->
  <!-- Modal -->
  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Input Data Peserta</h4>
          </div>
          <div class="modal-body">
            <!-- <p>One fine body&hellip;</p> -->
            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">Olimpiade Matematika</h3>
              </div>
              <div class="box-body">
                <!-- Date dd/mm/yyyy -->
                <form  action="{% url 'data_siswa:save_data_siswamat'%}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
            <div class="col-md-6">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" required name="username" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" required name="password" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="" class="control-label">Nama</label>
                <input type="text" class="form-control" name="nama" value="" required>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Jenis Kelamin</label>
            </div>
            <div class="form-group">
                 <input required type="radio" name="jenis_kelamin" value="Laki - Laki"> Laki - Laki &nbsp; &nbsp; &nbsp;
                <input required type="radio" name="jenis_kelamin" value="Perempuan"> Perempuan
            </div>

            <div class="form-group">
                    <label for="" class="control-label">Alamat</label>
                    <textarea name="alamat" rows="3" class="form-control" required></textarea>
            </div>
        
              
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
            <div class="form-group" hidden>
                <label for="" class="control-label">Olimpiade</label>
                <input type="text" class="form-control" name="mata_pelajaran" value="matematika" required>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Tanggal Lahir</label>
                <input required type="text" id="date" class="form-control" name="tanggal_lahir" value="" readonly>
            </div> 

            <div class="form-group" >
                <label for="" class="control-label">Nilai Akademik Matematika</label>
                <input type="text" class="form-control" name="nilai" value="" required>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Jenjang</label>
                  <select class="form-control " name="jenjang" id="id_jenjang" onclick="sleksijenjang()" >
                    <option selected="selected"> --- Pilih Jenjang --- </option>
                    <option required>1 SMA</option>
                    <option required>2 SMA</option>
                    <option required>3 SMA</option>
                  </select>
            </div>

            <div class="form-group" hidden >
                <label for="" class="control-label">Nilai kelas</label>
                <input type="text" class="form-control" name="nilaikl" id="id_nilaikl" value="" required>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Pengalaman Lomba</label>
                <select class="form-control " name="intensitas" id="id_intensitas" onclick="sleksiintensitas()" >
                    <option selected="selected">--- Pilih Intensitas Pengalaman ---</option>
                    <option required>Sering Mengikuti Olimpiade</option>
                    <option required>Cukup Sering Mengikuti Olimpiade</option>
                    <option required>Jarang Mengikuti Olimpiade</option>
                    <option required>Tidak Pernah Mengikuti Olimpiade</option>
                </select>
            </div>

            <div class="form-group" hidden>
                <label for="" class="control-label">Nilai Pengalaman Lomba</label>
                <input type="text" class="form-control" name="nilaipl" id="id_nilaipl" value="" required>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Karakter</label>
                 <select class="form-control " name="sikap" id="id_sikap" onclick="sleksisikap()" >
                      <option selected="selected">--- Sikap Siswa ---</option>
                      <option required>Baik</option>
                      <option required>Cukup Baik</option>
                      <option required>Buruk</option>
                </select>
            </div>

            <div class="form-group" hidden>
                <label for="" class="control-label">Nilai Karakter</label>
                <input type="text" class="form-control" id="id_nilaikr" name="nilaikr" value="" required>
            </div>


            <div class="form-group ">
            <label for="" class="control-label">
                Aktifkan Langsung User ?
            </label> &nbsp; <input type="checkbox" name="staff">
            </div>
            <br>
            
          
      </div>
      <!-- /.modal-content -->
      
    </div>
    <!-- /.modal-dialog -->
    <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
  </div>
  <!-- /.modal -->
<style>
.modal-dialog{
    padding-top: 0px;
    width: 60%;
    min-height: 100%;
}
</style>
<script>
$('#date').datepicker();
function sleksijenjang() {
    var a =40 ;
    var b =55 ;
    var c =70 ;
    var d =0;
    var jjg = document.getElementById('id_jenjang').value;
    if (jjg === "1 SMA") {
      document.getElementById("id_nilaikl").value = b;

    }else if (jjg === "2 SMA"){
      document.getElementById("id_nilaikl").value = a;

    }else if (jjg === "3 SMA"){
      document.getElementById("id_nilaikl").value = c;

    }else {
      document.getElementById("id_nilaikl").value = d;

    }
  }

function sleksiintensitas() {
    var a =70 ;
    var b =55 ;
    var c =40 ;
    var d =25 ;
    var jjg = document.getElementById('id_intensitas').value;
    if (jjg === "Sering Mengikuti Olimpiade") {
      document.getElementById("id_nilaipl").value = a;

  }else if (jjg === "Cukup Sering Mengikuti Olimpiade"){
      document.getElementById("id_nilaipl").value = b;

  }else if (jjg === "Jarang Mengikuti Olimpiade"){
      document.getElementById("id_nilaipl").value = c;

  }else if (jjg === "Tidak Pernah Mengikuti Olimpiade") {
      document.getElementById("id_nilaipl").value = d;

  }else{
    document.getElementById("id_nilaipl").value = 0 ;
  }
}

function sleksisikap() {
      var a =40 ;
      var b =55 ;
      var c =70 ;
      var d =0;
      var jjg = document.getElementById('id_sikap').value;
      if (jjg === "Baik") {
        document.getElementById("id_nilaikr").value = c;

      }else if (jjg === "Cukup Baik"){
        document.getElementById("id_nilaikr").value = b;

      }else if (jjg === "Buruk"){
        document.getElementById("id_nilaikr").value = a;

      }else {
        document.getElementById("id_nilaikr").value = d;

      }
    }

</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example1').DataTable( {
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50,]]
        } );
    } );
</script>
{% if messages %}
  {% for message in messages %}
  <script>
    toastr.success('{{message}}')
  </script>
  {% endfor %}
  {% endif %}
{% endblock %}