<div class="header text-center"><h3 class="title">Hasil Sleksi Olimpide Sains</h3><p class="category">Kategori Mata Pelajaran <a >Matematika</a></p></div>

<ul class="nav nav-pills nav-stacked">
 <div class="row">
    <div class="col-md-3">
      <li role="presentation"><a class="btn btn-block btn-social btn-facebook" type="button" data-toggle="collapse" data-target="#collapseExamplemat" aria-expanded="false" aria-controls="collapseExamplemat">
        <i class="fa fa-caret-square-o-down"></i>Matrix Awal</a></li>    
      </div>
    </div>
  <div class="collapse" id="collapseExamplemat">
    <div class="well">

     <div align="right">
      <a href="{% url 'hasil_akhir:reporttbl' %}">
       <button class="btn btn-info"><i class="fa fa-print"></i> Print</button>
     </a>
   </div>
   <hr>
   <table id="example" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Nilai Akademik</th>
        <th>Karakter</th>
        <th>Pengalaman Lomba</th>
        <th>Hasil Tes</th>
        <th>Kelas</th>
      </tr>
    </thead>
    <tbody>
      {% for c in data_awal %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{c.0}}</td>
        <td>{{c.1}}</td>
        <td>{{c.2}}</td>
        <td>{{c.3}}</td>
        <td>{{c.4}}</td>
        <td>{{c.5}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>  
<br>
<!-- ###################################################################### -->
<div class="row">
    <div class="col-md-3">
      <li role="presentation"><a class="btn btn-block btn-social btn-facebook" type="button" data-toggle="collapse" data-target="#collapseExamplemat1" aria-expanded="false" aria-controls="collapseExamplemat1">
        <i class="fa fa-caret-square-o-down"></i>Matrix Ternormalisasi</a></li>    
      </div>
    </div>
<div class="collapse" id="collapseExamplemat1">
  <div class="well">

   <div align="right">
    <a href="{% url 'hasil_akhir:reporttbl' %}">
     <button class="btn btn-info"><i class="fa fa-print"></i> Print</button>
   </a>
 </div>
 <hr>
 <table id="example" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Nilai Akademik</th>
      <th>Karakter</th>
      <th>Pengalaman Lomba</th>
      <th>Hasil Tes</th>
      <th>Kelas</th>
    </tr>
  </thead>
  <tbody>
    {% for c in ternormalisasi %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{c.0}}</td>
      <td>{{c.1}}</td>
      <td>{{c.2}}</td>
      <td>{{c.3}}</td>
      <td>{{c.4}}</td>
      <td>{{c.5}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div>  
<br>
<div class="row">
    <div class="col-md-3">
      <li role="presentation"><a class="btn btn-block btn-social btn-facebook" type="button" data-toggle="collapse" data-target="#collapseExamplemat2" aria-expanded="false" aria-controls="collapseExamplemat2">
        <i class="fa fa-caret-square-o-down"></i>Matrix Pembobotan</a></li>    
      </div>
    </div><div class="collapse" id="collapseExamplemat2">
  <div class="well">

   <div align="right">
    <a href="{% url 'hasil_akhir:reporttbl' %}">
     <button class="btn btn-info"><i class="fa fa-print"></i> Print</button>
   </a>
 </div>
 <hr>
 <table id="example" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Nilai Akademik</th>
      <th>Karakter</th>
      <th>Pengalaman Lomba</th>
      <th>Hasil Tes</th>
      <th>Kelas</th>
    </tr>
  </thead>
  <tbody>
    {% for c in pembobotan %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{c.0}}</td>
      <td>{{c.1}}</td>
      <td>{{c.2}}</td>
      <td>{{c.3}}</td>
      <td>{{c.4}}</td>
      <td>{{c.5}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div>  
<br>

<div class="row">
    <div class="col-md-3">
      <li role="presentation"><a class="btn btn-block btn-social btn-facebook" type="button" data-toggle="collapse" data-target="#collapseExamplemat3" aria-expanded="false" aria-controls="collapseExamplemat3">
        <i class="fa fa-caret-square-o-down"></i>Matrix Awal</a></li>    
      </div>
    </div>
<div class="collapse" id="collapseExamplemat3">
  <div class="well">

   <div align="right">
    <a href="{% url 'hasil_akhir:reporttbl' %}">
     <button class="btn btn-info"><i class="fa fa-print"></i> Print</button>
   </a>
 </div>
 <hr>
 <table id="example" class="table table-bordered table-striped">
  <thead>
   <tr>
    <th>No</th>
    <th>Nama</th>
    <th>Benefit</th>
    <th>Cost</th>
    <th>Rangking</th>
  </tr>
</thead>
<tbody>
  {% for c in akhir %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{c.0}}</td>
    <td>{{c.1}}</td>
    <td>{{c.2}}</td>
    <td>{{c.3}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

</div>
</div>  
</ul>

