<div class="box">
    <div class="box-body">
        <div class="box-header">
            <h3 class="box-title">Matrix Ternormalisasi Biologi</h3>
            
            <div align="right">
                <a href="{% url 'hasil_akhir:reporttbl' %}">
                   <button class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                </a>
            </div>
        </div>
        <table id="example" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Nilai Akademik</th>
                    <th>Karakter</th>
                    <th>Pengalaman Lomba</th>
                    <th>Hasil Tes</th>
                    <th>Kelas</th>
                </tr>
            </thead>
            <tbody>
                {% for c in nl %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.0}}</td>
                    <td>{{c.1}}</td>
                    <td>{{c.2}}</td>
                    <td>{{c.3}}</td>
                    <td>{{c.4}}</td>
                    <td>{{c.5}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
    </div>
</section>
</div>

<script type="text/javascript">
$('#example').DataTable();
</script>