{% extends 'layout/dashboard/index.html' %} {% load staticfiles %}  {% load widget_tweaks %}{% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Tambah Soal Olimpiade Kimia
            <small>Template</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Tambah Soal Kimia</a>
            </li>
            <li class="active">Template</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box box-info">
                    <div class="box-header with-border">
                        Tambah Soal Kimia
                    </div>
                    <div class="box-body">
                       <div class="col-md-3 col-sm-3">
                            <img src="{% static 'images/icon.png' %}" id="picture" alt="" style="width: 100%; height: auto;">
                    <button class="btn btn-success btn-block" style="margin-top: 8px; margin-bottom: 8px;" onclick="document.getElementById('fileInput').click();">
                    Upload Gambar Soal <i class="fa fa-upload"></i></button>
                </div>
                        <div class="col-md-9 col-sm-9">
                            <form action="{% url 'tesolimpiade:savekim' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group" hidden>
                                    <label >Olimpiade</label>
                                    <input type="text" required name="mata_pelajaran" value="kimia" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label >No Soal</label>
                                    <input type="number" required name="no" class="form-control">
                                </div>
        
                                <div class="form-group">
                                    <label for="" class="control-label">Soal</label>
                                    <textarea class="form-control" rows="3" name="pertayaan"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label">Jawaban A</label>
                                    <input required type="text" class="form-control" name="jawabanA">
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label">Jawaban B</label>
                                    <input required type="text" class="form-control" name="jawabanB">
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label">Jawaban C</label>
                                    <input required type="text" class="form-control" name="jawabanC">
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label">Jawaban D</label>
                                    <input required type="text" class="form-control" name="jawabanD">
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label">Jawaban E</label>
                                    <input required type="text" class="form-control" name="jawabanE">
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label">Kunci Jawaban</label>
                                    <select class="form-control" name="kunci">
                                    <option>-- Pilih Kunci Jawaban --</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>E</option>
                                    </select>
                                </div>

                                    <div class="form-group">
                                            <input id="fileInput" name='gambar' type="file" style="display:none;" accept="image/*" value="" />
                                    </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success pull-right" style="margin-left: 8px;">Simpan</button>
                                    <a href="{% url 'tesolimpiade:kimia'%}" class="btn btn-danger pull-right">
                                        <i class="fa fa-arrow-left"></i> Kembali</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $('#date').datepicker();

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#picture').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fileInput").change(function () {
        readURL(this);
    });        
</script>
{%endblock%}
