{% load widget_tweaks %}

<div class="box">
  <div class="box-body">
    <div class="box-header">
      <!-- <h3 class="box-title">Siswa</h3> -->
      <a type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default"> 
       Tambah <i class="fa fa-plus"></i> 
     </a>
   </div>
   <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="50">No</th>
        <!-- <th>ID</th> -->
        <th>Username</th>
        <th>Nama</th>

        <th width="100">Aksi</th>
        
      </tr>
    </thead>
    <tbody>
      {% for us in user %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{us.username}}</td>
        <td>{{us.last_name}}</td>


        <td>
         <a href="{% url 'data_user:edit' us.id%}" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal{{us.id}}">
          <i class="fa fa-trash"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal{{us.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Konfirmasi Penghapusan</h4>
              </div>
              <div class="modal-body">
                Apakah anda yakin ingin menghapus Siswa dengan nama <b>{{us.username}}</b> dan id <b>{{us.id}}</b>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <a href="{% url 'data_user:hapus' id=us.id%}" class="btn btn-danger">
                  <i class="fa fa-trash"></i> Hapus
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<!-- #################################Tambah############################################## -->

<!-- Modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Siswa</h4>
        </div>
        <div class="modal-body">
          <!-- <p>One fine body&hellip;</p> -->
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Input Data Siswa</h3>
            </div>
            <div class="box-body">
              <!-- Date dd/mm/yyyy -->
              <form method="POST" action="{% url 'data_user:simpan'%}" >
                {% csrf_token %}

                <div class="form-group">
                  <label>Username</label>
                  <div class="input-group">
                   <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="email" name="username" class="form-control pull-right" value="" required>
                </div>
              </div>
              <br>

                <div class="form-group">
              <label>Nama</label>
                  <div class="input-group">
                   <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" name="last_name" class="form-control pull-right" value="" required>
                </div>
              </div>
              <br>

              <div class="form-group">
                <label>Password</label>
                <div class="input-group">
                 <div class="input-group-addon">
                  <i class="fa  fa-lock"></i>
                </div>
                <input type="password" id="pass1" name="password" class="form-control pull-right" value="" required>
              </div>
            </div>
            <br>
            
            <div class="form-group">
              <label>Password Confirmation </label>
              <div class="input-group">
               <div class="input-group-addon">
                <i class="fa  fa-lock"></i>
              </div>
              <input type="password" id="pass2" class="form-control pull-right" value="" onkeyup="validasipass()" required>
            </div>
          </div>
          <br>
             <div class="form-group ">
            <label for="" class="control-label">
                Aktifkan Langsung User ?
            </label> &nbsp; <input type="checkbox" name="superuser">
            </div>
            <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <div id="simpan" hidden="true"><button class="btn btn-primary">Save</button></div>
      </form>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<script>
  function validasipass() {
    // body...
    // var pass3 = document getElementById('pass3').value;
    if(document.getElementById('pass2').value !== document.getElementById('pass1').value){
      document.getElementById('simpan').hidden = true;      
    }else{
      document.getElementById('simpan').hidden = false;
    }
  }

</script>
