<header class="main-header" >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'guru:view'%}">Biologi</a></li>
        <li><a href="{% url 'guru:fisika'%}">Fisika</a></li>
        <li><a href="{% url 'guru:kimia'%}">Kimia</a></li>
        <li><a href="{% url 'guru:matematika'%}">Matematika</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Selamat Datang, {{request.user.last_name}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'guru:user' %}">Akun <i class="fa fa-user pull-right"> </i>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'login:doLogout' %}">Logout <i class="fa fa-sign-out pull-right"> </i>
                </a></li>
              </ul>
            </li>
          </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





    
  </header>
  